.app
{
    position: relative;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

:global(.dark)
{
    color: #CCC;
}

input
{
    border: 1px solid #CCC;
}

:global(.dark) input
{
    background-color: #000;
    color: #FFF;
}

svg { width: 100%; height: 100%;}

.map
{
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

a
{
    color: #3399ff;
}

.datatable td:nth-child(1)
{
    font-weight: bold;
    padding-right: 10px;
    border-right: 1px solid #ddd;
}

:global(.dark) .datatable td:nth-child(1)
{
    border-color: #444;
}

.mapselect
{
    font-size: 11px;
}
