.app
{
    position: relative;
    font-family: Roboto, sans-serif;
    overflow:hidden;
}

svg { width: 100%; height: 100%;}

.map
{
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

a
{
    color: #3399ff;
}

.datatable td:nth-child(1)
{
    font-weight: bold;
    padding-right: 10px;
    border-right: 1px solid #ddd;
}

.mapselect
{
    font-size: 11px;
}
